p, h2 {
	font-family: 'Play', sans-serif;
}
h1 {
	font-family: 'Audiowide', cursive;
}
html, body {
	background-color: #171717;
}
p {
	color: white;
}
h1, h2 {
	color: green;
}
/*#red {
	color: red;
}*/