html {
	background: url("../images/sky.png");
  	background-repeat: no-repeat;
  	background-size: 100%;
}
body{
	margin-left: 450px;
	width: 800px;
	background-color: #110447;
	padding-left: 50px;
	padding-top: 35px;
	padding-bottom: 20px;
	border-radius: 10px;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}
p {
	color: white;
}
h1, h2 {
	color: #b9c4c4;
}
/*Code was retrieved from W3Schools*/
@-webkit-keyframes glow {
  	from {
    	text-shadow: 0 0 5px rgba(242, 245, 245,0.4), 0 0 10px rgba(242, 245, 245,0.4), 0 0 15px rgba(242, 245, 245,0.4), 0 0 20px rgba(242, 245, 245,0.4), 0 0 25px rgba(242, 245, 245,0.4);
  	}
  
  	to {
    	text-shadow: 0 0 10px rgba(242, 245, 245,0.4), 0 0 15px rgba(242, 245, 245,0.4), 0 0 20px rgba(242, 245, 245,0.4), 0 0 25px rgba(242, 245, 245,0.4), 0 0 30px rgba(242, 245, 245,0.4);
  	}
img {
	width: 50px;
}  	